.popup {
    position: fixed;
    padding: 0;
    margin: 5% 25%;
    top: 0;
    left: 0;
    width: 50%;
    background: white;
    z-index: 90;
    border-radius: 0.2em;
    padding: 10px;
}


.close {
    width: 100%;
    font-size: 2em;
    height: 40px;
    text-align: right;
    cursor: pointer;
}

.close:hover {
    color: grey;
}