.popup {
    position: fixed;
    padding: 0;
    margin: 3% 25%;
    top: 0;
    left: 0;
    width: 50%;
    background: white;
    z-index: 90;
    border-radius: 0.2em;
    padding: 10px;
    border: solid 1px #e9e9e9;
    height: 98%;
    overflow-y: scroll;
}


.close {
    width: 100%;
    font-size: 2em;
    height: 40px;
    text-align: right;
    cursor: pointer;
}

.close:hover {
    color: grey;
}


/***** TABLET-DEVICES *****/
@media screen and (min-width: 300px) {
    .popup {
        width: 97%;
        margin: 0;
    }
  }

  @media screen and (min-width: 1100px) {

    .popup {
        width: 70%;
        margin: 0 15%;
    }

  }

  @media screen and (min-width: 1500px) {

    .popup {
        width: 50%;
        margin: 0 25%;
    }


  }
