div {
    position: absolute;
    display: flex;
    top: 0;
    width: 50%;
    padding: 10px;
    border-radius: 2px;
    align-items: center;
    color:white;

    span {
        width: 72.5%;
        text-align: left;
        font-size: 1.15em;
    }

    strong {
        width: 25%;
        text-align: center;
        font-size: 1.25em;   
    }

    i {
        width: 7.5%;  
        margin-right: 5px;
        text-align: right;
        font-size: 30px; 
    }
    
    i:hover {
        cursor: pointer;
        color: black;
    }
}

.error {
    background: #C70039;
}

.success {
    background: #3CC662;
}

.info {
    background: #39CCCC;
}

@-webkit-keyframes vibrate {
    0% { -webkit-transform: rotate(0); }
    25% { -webkit-transform: rotate(0.1deg); }
    50% { -webkit-transform:  rotate(-0.1deg); }
    75% { -webkit-transform: rotate(0.1deg); }
	100% { -webkit-transform: rotate(0); }
}

.shake:hover,
.shake:focus {
    -webkit-animation-name: vibrate;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-iteration-count: infinite;
}








