@import "../../../shared/styles/shared.scss";

:host {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-size: 4em;
    width: 100%;
}

@media screen and (max-width: 750px) {
  h1 {
    font-size: 2em;
  }

  .article-text {
    width: 90%;
    margin: auto;
  }
}
.article-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.article {
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    border: solid 1px silver;
    text-decoration: none;

    .article-inner-padding {
        padding: 10px; 
        width: 100%; 
        display: flex;
    }
   
    img {
        width: 18.75%;
        height: 125px;
    }

    h3 {
        margin: 0;
    }

    .text-container {
        margin-left: 1.5%;
    }
}

.article:hover {
    box-shadow: inset 1px 1px 2px 1px black;
}


