<markdown>
  # About me

  Hi and thanks for stopping by! Allow me to introduce myself, my name is **Nicklas**. 
  I'm a web developer and <i class="fas fa-coffee"></i> lover. I live in Stockholm and like 
  what the city has to offer. On my free time I am either coding, reading, listening to audiobooks, 
  working out or just enjoying the company of family and friends.
  
  On this site you will find things that interests me such as *computer science*, *code*, 
  *book reviews*, *gamification* and *different technologies*.

  ## <i class="fas fa-graduation-cap"></i> Education 
  
  I have a **Higher Education Diploma in Software Engineering with emphasis in Web Programming**, 
  from Blekinge Institute of Technology. Do not let the "Blekinge" part fool you however, I am from 
  Stockholm and have lived here my entire life. I did online courses, which provided the exact same 
  courses and education as campus.

  ## <i class="fas fa-link"></i> Links
  
  If you want, you can checkout my Github or Linkedin!
  * <a target="_blank" href="https://www.linkedin.com/in/nicklas-envall-976552109/"><i class="fab fa-linkedin"></i>Linkedin</a>
  * <a target="_blank" href="https://github.com/Nicklas766"><i class="fab fa-github-square"></i>Github</a>
</markdown>

