

<markdown style="margin: auto; width: 80%;">
  <h1>About</h1>

  Hi and thanks for stopping by! Allow me to introduce myself, my name is **Nicklas**.
  I'm a web developer and <i class="fas fa-coffee"></i> lover. I live in Stockholm and like
  what the city has to offer. On my free time I am either coding, reading, listening to audiobooks,
  working out or just enjoying the company of family and friends.

  On this site you will find things that interests me such as *computer science*, *code*,
  *book reviews*, *gamification* and *different technologies*.

</markdown>

<markdown class="info-widget left">
    <h2><img src="assets/graduation.png"> </h2>

    I have a **Higher Education Diploma in Software Engineering with emphasis in Web Programming**,
    from Blekinge Institute of Technology. Do not let the "Blekinge" part fool you however, I am from
    Stockholm and have lived here my entire life. I did online courses, which provided the exact same
    courses and education as campus.
</markdown>



<markdown class="info-widget right">
       <h2><img src="assets/computer.png"> </h2>

        You can checkout some links here, such as projects, linkedin, github, icons for website:

        <a target="_blank" href="https://www.linkedin.com/in/nicklas-envall-976552109/">Read more!</a>
</markdown>


<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/popcorns-arts" title="Icon Pond">Icon Pond</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
