



<shop-swipe-container [style.height]="'500px'">
    
    <shop-swipe-child [style.width]="'100%'" [key]="0">

        <h1>Game</h1>
        <li>Link: linkhere </li>
        <li>Description: A school project, using sockets to create a 2 player versus 1 boss game.</li>
        <li>Keywords: Express, React, Socket.io</li>
        <video width="100%" height="100%" controls>
          <source src="movie.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>

    </shop-swipe-child>

    <shop-swipe-child [style.width]="'100%'" [key]="1">
        <h1>Feedback system</h1>
        <li>Link: linkhere </li>
        <li>Description: During my case study I developed a gamified feedback system.</li>
        <li>Keywords: C#, Angular.js</li>

        <video width="100%" height="100%" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>

    </shop-swipe-child>

    <shop-swipe-child [style.width]="'100%'" [key]="2">
        <h1>Stackoverflow copy, but for coffee</h1>
        <li>Link: linkhere </li>
        <li>Description: Schoolproject.</li>
        <li>Keywords: PHP, JQuery</li>
        <img src="{{image}}">
    </shop-swipe-child>

</shop-swipe-container> 

