:host {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.widget {
  width: 48%;
  margin: 1% 1%;
  height: 250px;
  background: grey;
  position: relative;
  transition: 0.5s;
  background-size: 100% 100%;

}

.widget:hover {
  background-size: 102% 102%;

}

h1 {
  margin-top: 25%;
  width: 100%;
  color: white;
  font-weight: bold;
  text-align:center;
}


table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #A1CAC8;
    color: white;
}

@media screen and (max-width: 750px) {
  .widget {
    width: 100%;
    margin: 1% 0;
  }
}
