<h1 style="color: white; text-align:center; font-weight: bold; font-size: 4em;">Projects - Click</h1>

<div style="width:50%; margin: auto; display: flex; flex-wrap: wrap;">



<div style="width:48%; margin: 0 1%; height:100%; background:white; ">
    <img src="assets/bar.png" style="width:100%; height: 200px; margin-top: 0;">
    
   <p> Game</p>
</div>

<div style="width:48%; margin: 0 1%; height:100%; background:white;  ">
    <img src="assets/gamification.jpg" style="width:100%; height: 200px; margin-top: 0;">
    <p>Gamification</p>
</div>




</div>

<!-- <shop-swipe-container [style.height]="'750px'" style="background:white; width:50%; margin:auto;">
    
    <shop-swipe-child [style.width]="'100%'" [key]="0">

        <div style="background:#A1CAC8"> 
        <h1>Game</h1>
        <p>A school project, using sockets to create a 2 player versus 1 boss game.</p>
        <li>Keywords: Express, React, Socket.io</li>
    </div>

    


    </shop-swipe-child>

    <shop-swipe-child [style.width]="'100%'" [key]="1">
        <h1>Feedback system</h1>
        <li>Link: linkhere </li>
        <li>Description: During my case study I developed a gamified feedback system.</li>
        <li>Keywords: C#, Angular.js</li>

        <video width="100%" height="100%" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>

    </shop-swipe-child>

    <shop-swipe-child [style.width]="'100%'" [key]="2">
        <h1>Stackoverflow copy, but for coffee</h1>
        <li>Link: linkhere </li>
        <li>Description: Schoolproject.</li>
        <li>Keywords: PHP, JQuery</li>
        <video width="1000px" height="100%" controls>
            <source src="assets/progressbar.mp4" type="video/mp4">
              Your browser does not support the video tag.
          </video>
  
    </shop-swipe-child>

</shop-swipe-container>  -->

