<h1>Here are some projects:</h1>

<p>I want to quickly scroll through (swipe)</p>

<p>I want full view of all projects(overview)</p>

<p>
    No more projects? Don't worry, I have of course done plenty more apps, 
    but showing all of them would be exaggerated. Therefore, feel free to
    checkout my Github for more projects if you like! 

</p>


<shop-swipe-container [style.height]="'500px'">
    <shop-swipe-child [style.width]="'100%'" *ngFor="let image of [
    'https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg',
    'https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350']; let i = index;" [key]="i">
        <img src="{{image}}">
    </shop-swipe-child>
</shop-swipe-container> 