.search-bar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    background: white;
    justify-content: center;
    border: solid 1px silver;

    span {
        width: 2%;
        background: white;
    }

    input {
        width: 90%;
        background: white;
        border: none;
        padding: 0;
        font-size: 0.9em;
        color: #665;
    }

    .search-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7.8%;
        color: #665;
        background: #EBEBEB;
        cursor: pointer;
        border-left: solid 1px silver;
    }
  }


  @media screen and (max-width: 750px) {

    .search-bar {
      .search-button {
        width: 17.5%;
      }

      input {
        width: 80%;
      }
    }
}
