<div>
  <div class="header">

    <h1>Hello world</h1>
    <div class="navbar">
      <a [routerLink]='["/"]' [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        Home
      </a>
      <a [routerLink]='["/about"]' [routerLinkActive]='["link-active"]'>
        About
      </a>
      <a [routerLink]='["/admin"]' [routerLinkActive]='["link-active"]'>
        Admin
      </a>
    </div>
</div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
