<div class="wrap-all">

  <div class="header">
      

      
    <div class="navbar-wrapper">

      <div class="home">
        <a [routerLink]='["/"]' [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          Nicklas Envall 
        </a>
      </div>

      <div class="navbar">

        <a [routerLink]='["/about"]' [routerLinkActive]='["link-active"]'>
          About
        </a>
        <a [routerLink]='["/articles"]' [routerLinkActive]='["link-active"]'>
          <i class="far fa-newspaper"></i> Articles
        </a>
        <a [routerLink]='["/about"]' [routerLinkActive]='["link-active"]'>
          <i class="fas fa-book"></i> Book reviews
        </a>
        <a [routerLink]='["/admin"]' [routerLinkActive]='["link-active"]'>
          <i class="fas fa-trophy"></i> Projects
        </a>
        <a [routerLink]='["/admin"]' [routerLinkActive]='["link-active"]'>
          <i class="fas fa-user"></i> Admin
        </a>

      </div>

    </div>
    

  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>
