@import "shared/styles/shared.scss";

.wrap-all {
  height: 100%;
  width: 100%;
}

.header {
  width: 100%;
  margin: auto;
  text-align: center;
  background: white;
}

.navbar-wrapper {
  width: 100%;
  border-bottom: solid 1px #959393;
  display: flex;
  flex-wrap: wrap;
  .home a {
    font-family: 'Lora', serif;
  }
  .home {
    width: 25%;
    font-size: 1.75em;
    font-weight: bold;
    padding: 10px;
    display: flex;
    

    a {
      color: #2F2F2F;
    }

  }

  a {
    background: white;
    padding: 20px;
    text-decoration: none;
    color: #959393;
  }
  a:hover {
    text-decoration: underline;
    color: #2F2F2F;
  }

  .link-active {
    color: #2F2F2F;
  }
  .navbar {
    width: 50%;
    display: flex;
    background: white;
    align-items: center;
   
    
  
  }

}

.search-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  background: #EBEBEB;
  justify-content: center;

  span {
      width: 2%;
  }
  
  input {
      width: 90%;
      border: none;
      padding: 0;
      background: #EBEBEB;
      font-size: 0.9em;
      color: #665;
  }
  
  .search-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 7%;
      color: #665;
      cursor: pointer;
  }
}

.container {
  width: 50%;
  margin: auto;
  background: white;
  padding: 10px;
  border-radius: 0.3em;
}




