
.home-background {
  min-height: 600px;
  text-align: center;
  color: white;

  i {
    margin: 0 5%;
    font-size: 3em;
  }

  h1 {
    font-size: 3em;
    letter-spacing: 2px;
  }
}



