

<div>
        <h1>Links</h1>

        <li><a href="https://github.com/Nicklas766" target="_blank"><i class="fab fa-github"></i> Github</a></li>
        <li><a href="https://www.linkedin.com/in/nicklas-envall-976552109/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
        <li><a href="https://www.npmjs.com/~nicklas766" target="_blank"><i class="fab fa-npm"></i> npm</a></li>
</div>




<div>
        <h1>School projects</h1>
        <li><a href="http://bth.diva-portal.org/smash/record.jsf?pid=diva2%3A1217314&dswid=-9639" target="_blank"> Diploma thesis: A case study based on people’s perception of gamified elements.</a></li>
        <li><a href="http://www.student.bth.se/~nien16/dbwebb-kurser/webapp/me/kmom10/proj/platforms/browser/www/#!/" target="_blank">App: old app made with the Mithril framework</a></li>
        <li><a href="http://www.student.bth.se/~nien16/dbwebb-kurser/ramverk1/me/kmom10/anax/htdocs/" target="_blank">App: "stackoverflow copy" made with PHP </a></li>
        <li><a href="http://www.student.bth.se/~nien16/dbwebb-kurser/oophp/me/kmom10/anax-lite/htdocs/" target="_blank">App: simple ecommerce made with PHP</a></li>
        <li><a href="http://www.student.bth.se/~nien16/dbwebb-kurser/javascript1/me/kmom10/intelligence/" target="_blank">App: very very old app made with vanilla js </a></li>
</div>