

:host {
  display: flex;
  flex-wrap: wrap;
}
.home-background {
  background: #76CABE;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: white;
  height: 500px;


  p {
    width: 100%;
    margin-top: -250px;
    font-size: 1.25em;
  }


  h1 {
    font-size: 5em;
    letter-spacing: 2px;
    color: white;
  }
}

h2 {

  font-size: 4em;
  width: 100%;
}

.widget {
  width: 50%;
  height: 350px;
  background: #2E8F82;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  text-decoration: none;



  p {
    color: #A1CAC8;
  }

  i {
    color: #76CABE;
    width: 100%;
    font-size: 4em;
    margin-top: -150px;
  }
}


.widget:hover {
  opacity: 0.9;
}

